env/

# python bytecode
__pycache__/
*.py[cod]

# VS Code settings
.vscode/

# model parameters
asl_model.h5

# local training
train.py

# test video
testVideo.mp4

# testing model on video feed
script.js
testPage.html

# web socket test
webSocketTest.py